.text {
  line-height: 24vw;
}
.text .one {
  font-size: 15vw;
}
.text .two {
  font-size: 22vw;
}
@media (max-width: 768px) {
  .text {
    line-height: 37vw;
  }
  .text .one {
    font-size: 35vw;
  }
  .text .two {
    font-size: 35vw;
  }
}
